body,html{
    height:210%;
    width:90%;
    max-width:90%;
    font-family: "Inter",serif;
    overflow-x: hidden;

}
header{
    height:60px;
    width:100%;
    background-color:white;
    position: absolute;
    margin:0;
    top:0;
    left:0;
    font-family: "Inter",serif;
    font-weight:bold;
    color:black;
    z-index:100;
}
footer{
    height:200px;
    width:100%;
    background-color: #000000;
    color:white;
    position: absolute;
    bottom:-350%;
    margin:0;
    left:0;
    display: flex;
}
footer p,footer h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px;
}
#logo{
    height:80px;
    position:absolute;
    left:5%;
}
#textos{
    font-size:13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap:20px;

}
#textos:hover{
    text-decoration:underline;
}
#img-cima{
height:150%;
position: absolute;
left:30%;
top:-30%;
background-position: center;
background-size:cover;
z-index:400;
}
#topo{
    height:447px;
    width:100%;
background-color:#E5E5E5 ;
position:absolute;
left:0;
box-shadow: 0px 10px 20px inset;
}
#circulo{
    height:400px;
    background-color: #758874;
    width:400px;
    border-radius: 50%;
    position:absolute;
    left:37%;
    top:10%;
}
#nike-text,#nike-textli{
    color:white;
    font-family: "Inter",serif;
    font-size:80px;
    font-weight:bold;
    position: absolute;
    left:15%;
    z-index:300;
    top:10%;
    transition: all 0.5s ease-in-out;
}
#nike-text:hover,#nike-textli:hover{
    color: black;
}
#nike-textli{
    color:transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    
}
#img-cima:hover{
    transform: rotate(-27deg);
    transition: all 0.5s ease-in-out;

}
#middle{
    position:absolute;
    top:90%;
    height:200px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
#middle h1{
    position: absolute;
    top:-20px;
    font-size:70px;
    font-family: 'Arial';
}
#middle p{
    position: absolute;
    top:100px;
    font-size:20px;
    width:700px;
    display: center;

}
#comprar{
    background-color:black;
    width:100px;
    color:white;
    font-weight:1px solid white;
    border:none;
    border-radius:20px;
    height:40px;
    font-size:15px;
    position: absolute;
    top:90%;

}
#comprar:hover{
    color:black;
    background-color: #d6d0d0;
}
#menu{
    position:absolute;
    left:35%;
    z-index:1000;
    font-size:15px;
    font-weight:1px solid;
    display:none;
}
#black{
    position:absolute;
    z-index:2000;
    height:480px;
    width:98%;
    background-color:#000000;
    top:130%;
    left:0;
    border-radius:20px;
    left:2%;
    margin:0;
    

}
#primeiro-video{
    position:absolute;
    left:-38%;
    display:none;
}
#segundo-video{
    position:absolute;
    left:-18%;
    display:none;
}
.text{
    font: size 15px;
    font-weight:1px solid white;
    color:white;
    width:600px;
    position:absolute;
    left:45%;
    top:45%;
    display: none;

}
#shoes{
   position:absolute;
    top:-10%;
    left:30%;
}
#just{
    position: absolute;
    left:38%;
    height:500px;
}
#lista {
    position: absolute;
    top: 220%;
    height: auto; 
    width: 400%;
    display: flex;
    gap: 20px;
    padding: 50px;
    left: 0;
    background-color: #e2f1e188;
    overflow: hidden;
}
video{
    position: absolute;
    top:280%;
    left:10%;
    height:100%;
    margin:0;
}
#fundo-do-video{

}
#lista::before {
    content: 'TÊNIS DA MODA';
    position: absolute;
    top: -10%;
    left: 45%;
    font-size: 30px;
    font-weight: bold;
}
#click-esquerdo, #click-direito {
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 240%;
    z-index: 10;
}
#click-esquerdo {
    left: 10px;
}
#click-direito {
    right: 10px;
}
#click-esquerdo:hover, #click-direito:hover {
    background-color: rgb(216, 205, 205);
    color: black;
}
.sapatos {
    background-color: black;
    height: 200px;
    width: 200px;
    border-radius: 25px;
}


@media (max-width:768px){
    header{
        width:200%;
    }
    #img-cima{
        height:120%;
        top:-10%;
        left:5%;
    }
    #circulo{
        height:300px;
        width:300px;
        top:20%;
        left:20%;
    }
    #topo{
        width:200%;
    }
    #nike-text,#nike-textli{
        font-size:70px;
        position: absolute;
        left:20%;
        top:5%;
    }
    #nike-textli{
        z-index: 10000;
    }
    #middle{
        position:absolute;
        top:90%;
        height:500px;
        width:200%;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    #middle h1{
        position: absolute;
        top:-20px;
        top:3%;
        font-size:30px;
        font-family: 'Arial';
    }
    #middle p{
        position: absolute;
        top:100px;
        font-size:20px;
        width:400px;
        top:10%;
        display: center;
}
#comprar{
    top:40%;
}
}